.overlaidMedia {
    position: relative;
}
.overlaidMedia canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.instructions {
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

@media (min-width: 300px) {
    video {
        max-width: 300px;
        height: auto;
    }
}

.result {
    position: relative;
}
.result span {
    color: yellow;
    position: absolute;
    top: 10px;
    left: 10px;
}
.result span::before {
    content: "distance: ";
}
