:root {
    --security-selfie-width: 300px;
}

#purposes {
    text-align: center;
}

#face__image,
#topbar #profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

#face__image {
    z-index: 10;
    object-fit: contain;
}

.list--floating-height .mdc-list-item {
    /* Normal .mdc-list-item has fixed height, which doesn't have room for notched outline */
    height: auto;  
}

.list-item__text-field-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mdc-list-item--disabled .mdc-list-item__graphic {
    opacity: 0.5;
}

fieldset {
    border-radius: 8px;
    margin: 5px;
}

fieldset[disabled] {
    background-color: #E0E0E0;
}

/* seems kludgy that we need BOTH these selectors present */
fieldset .mdc-list .mdc-text-field,
fieldset .mdc-list .list-item__text-field-container {
    width: 100%
}

#notImplementedDependent .mdc-dialog__content,
.notImplemented li {
    color: var(--mdc-theme-error);
}
#notImplementedIndependent .mdc-dialog__content,
.implemented li {
    color: var(--mdc-theme-secondary);
}

.mdc-linear-progress__bar-inner {
    border-color: var(--mdc-theme-secondary);
}
body.registered .onlyUnregistered {
    display: none;
}
body:not(.registered) .onlyRegistered {
    display: none;
}
.hidden {
    display: none !important;
}
.transparent {
    color: transparent !important;
}

.overlaidMedia {
    position: relative;
}
.overlaidMedia canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
video {
    max-width: 100%;
    height: auto;
}

@media (min-width: 300px) {
    video {
        max-width: 300px;
    }
}
