.overlaidMedia {
    position: relative;
}
.overlaidMedia canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.instructions {
    text-align: center;
}
audio {
    display: none;
}
video {
    max-width: 480px;
    height: auto;
}
